@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/typography.scss';
@import '../../prepare-styles/mixins.scss';

.container {
  @include content-padding-inline;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
}

.breadcrumbs {
  height: 16px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;

  &__text {
    color: $graySecondary;

    @include hover(color, $grayPrimary);

    font-weight: 600;
  }
}

.breadcrumbs img {
  display: block;
  flex-shrink: 0; // to prevent the images from shrinking
}

.about-item-page {
  // using padding here so breadcrumbs could be reused
  padding-top: 24px;
  padding-bottom: 64px;

  @include on-tablet {
    padding-bottom: 80px;
  }
}

.back-button {
  &__container {
    margin-top: 24px;

    @include on-tablet {
      margin-top: 40px;
    }

    display: flex;
    align-items: center;
    gap: 4px;
    grid-column: 1 / -1;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
  }

  &__text {
    color: $graySecondary;

    @include hover(color, $grayPrimary);
  }
}

.product-name {
  margin-top: 16px;
  margin-bottom: 32px;

  grid-column: 1 / -1;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.product-section {
  @include grid-align;
}

.product-images {
  display: flex;
  gap: 8px;

  order: 2;

  grid-column: 1 / -1;

  @include on-tablet {
    order: 1;
    flex-direction: column;
    grid-column: span 1;
  }

  @include on-desktop {
    gap: 16px;
    grid-column: span 2;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;

    box-sizing: border-box;
    padding: 8px;

    object-fit: contain;

    border: 1px solid $grayElements;

    &--selected {
      border: 1px solid $grayPrimary;
    }
  }
}

.selected-image {
  width: 100%;
  aspect-ratio: 1 / 1;

  margin-bottom: 16px;
  padding: 10px;

  order: 1;

  object-fit: contain;

  grid-column: 1 / -1;

  @include on-tablet {
    order: 1;
    margin-bottom: 0;
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: span 10;
  }
}

.separator {
  width: 100%;
  height: 1px;

  margin-top: 24px;

  background-color: $grayElements;
}

.product-properties {
  margin-top: 40px;
  grid-column: 1 / -1;

  order: 3;

  @include on-tablet {
    margin-top: 0;
    grid-column: span 5;
  }

  @include on-desktop {
    margin-top: 0;
    grid-column: 14 / 21;
  }
}

.colors {
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__title-available {
    color: $graySecondary;
  }

  &__title-id {
    color: $grayIconsPlaceholders;
  }

  &__selection {
    margin-top: 8px;

    display: flex;

    gap: 8px;
  }
}

.capacity {
  margin-top: 24px;

  grid-column: 1 / -1;

  &__title-available {
    color: $graySecondary;
  }

  &__selection {
    margin-top: 8px;

    display: flex;
    gap: 8px;
  }
}

.buy {
  grid-column: 1 / -1;

  margin-top: 32px;

  &__price {
    display: flex;

    align-items: center;
  }

  &__price-main {
    font-size: 32px;
  }

  &__price-discount {
    margin-left: 8px;

    color: $graySecondary;

    font-family: 'Mont-SemiBold', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.12px;
    text-decoration: line-through;
  }

  &__buttons {
    width: 100%;
    margin-top: 16px;

    display: flex;
    justify-items: stretch;
    gap: 8px;
  }

  &__add-to-cart {
    width: 100%;
    height: 48px;

    border-radius: 0;
    border: none;

    color: $white;
    background-color: $grayPrimary;

    @include hover(box-shadow, 0px 3px 13px 0px $hover-shadow);

    &--selected {
      color: $green;
      background-color: $white;
      border: 1px solid $grayIconsPlaceholders;
    }
  }

  &__favorite {
    min-width: 48px;
    max-width: 48px;

    min-height: 48px;
    max-height: 48px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 0;
    background-color: $white;

    border: 1px solid $grayIconsPlaceholders;

    cursor: pointer;

    @include hover(border, 1px solid $grayPrimary);
  }

  &__favorite-image {
    width: 16px;
    height: 16px;

    background-image: url(../../assets/icons/heart.svg);

    pointer-events: none;
  }
}

.short-specs {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &__spec {
    display: flex;
    justify-content: space-between;
  }

  &__spec-name {
    color: $graySecondary;
  }

  &__spec-value {
    text-align: right;
  }
}

.info-section {
  margin-top: 56px;

  @include grid-align;
}

.about {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span 12;
  }

  display: flex;
  flex-direction: column;

  &__section {
    margin-top: 32px;
  }

  &__section-text {
    color: $graySecondary;
    margin-top: 16px;
  }
}

.specs {
  margin-top: 56px;
  grid-column: 1 / -1;

  @include on-tablet {
    margin-top: 64px;
  }

  @include on-desktop {
    margin-top: 0;
    grid-column: 14 / -1;
  }

  &__container {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__spec-section {
    display: flex;

    justify-content: space-between;
  }

  &__spec-name {
    color: $graySecondary;
  }

  &__spec-value {
    text-align: left;
    color: $grayPrimary;
  }
}

.slider-section {
  margin-top: 56px;
}

.slider--no-margin {
  margin-left: 0;
}

/*#region capacityButton*/
.capacity-button {
  height: 32px;
  padding-inline: 8px;

  border-radius: 0;
  border: 1px solid $grayIconsPlaceholders;

  background-color: $white;

  transition: border 0.3s;

  cursor: pointer;

  @include hover(border, 1px solid $grayPrimary);

  &--selected {
    color: $white;
    background-color: $grayPrimary;
    border: 1px solid $grayPrimary;
  }
}
/*#endregion */

/*#region circleColorButton*/
.circle-button {
  min-width: 32px;
  max-width: 32px;

  min-height: 32px;
  max-height: 32px;

  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white;

  border-radius: 50%;
  border: 1px solid #e2e6e9;

  cursor: pointer;

  @include hover(border, 1px solid #b4bdc3);

  &--selected {
    border: 1px solid #313237;
  }
}

.circle-button__color {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

/*#endregion */
