@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/typography.scss';
@import '../../prepare-styles/mixins.scss';

.category_header-map {
  display: flex;
  width: fit-content;
  flex-direction: row;
  column-gap: 8px;
  margin-bottom: 24px;

  grid-column: 1 / -1;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.box {
  height: 50px;
  width: 100%;
  background-color: red;
}

.about-item-page {
  @include grid-align;

  // using padding here so breadcrumbs could be reused
  padding-top: 24px;
  padding-bottom: 64px;

  @include on-tablet {
    padding-bottom: 80px;
  }
}

.back-button {
  &__container {
    display: flex;

    align-items: center;

    gap: 4px;

    grid-column: 1 / -1;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}

.breadcrumbs-container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

// todo -- fix this
.product-name {
  margin-top: 16px;
  grid-column: 1 / -1 !important;
}

.photos {
  height: 300px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 7;
  }

  @include on-tablet {
    grid-column: span 12;
  }
}

.separator {
  width: 100%;
  height: 1px;

  margin-top: 24px;

  background-color: $grayElements;
}

.colors {
  grid-column: 1 / -1;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__selection {
    margin-top: 8px;

    display: flex;

    gap: 8px;
  }
}

.capacity {
  margin-top: 24px;

  grid-column: 1 / -1;

  &__selection {
    margin-top: 8px;

    display: flex;
    gap: 8px;
  }
}

.buy {
  grid-column: 1 / -1;

  margin-top: 32px;

  &__price {
    display: flex;

    align-items: center;
  }

  &__price-main {
    font-size: 32px;
  }

  &__price-discount {
    margin-left: 8px;

    font-size: 22px;
    text-decoration: line-through;
  }

  &__buttons {
    margin-top: 16px;

    display: flex;
    gap: 8px;
  }

  &__add-to-cart {
    width: 231px;
    height: 48px;

    border-radius: 0;

    color: $white;
    background-color: $grayPrimary;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px 0px #17203166;
    }

    &--selected {
      color: $card-add-color;
      border: 1px solid $grayIconsPlaceholders;
    }
  }

  &__favorite {
    min-width: 48px;
    max-width: 48px;

    min-height: 48px;
    max-height: 48px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 0;
    background-color: $white;

    border: 1px solid $grayIconsPlaceholders;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $grayPrimary;
    }
  }

  &__favorite-image {
    width: 16px;
    height: 16px;

    background-image: url(../../assets/icons/heart.svg);

    pointer-events: none;
  }
}

.about {
  margin-top: 56px;

  grid-column: 1 / -1;

  &__section {
    margin-top: 32px;
  }

  &__section-text {
    margin-top: 16px;
  }
}

.specs {
  margin-top: 56px;

  grid-column: 1 / -1;

  &__container {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__spec-section {
    display: flex;

    justify-content: space-between;
  }

  &__spec-name {
    color: $graySecondary;
  }

  &__spec-value {
    color: $grayPrimary;
  }
}

.slider {
  grid-column: 1 / -1;
  margin-top: 56px;

  height: 100px;
}

/*#region capacityButton*/
.capacity-button {
  height: 32px;
  padding-inline: 8px;

  border-radius: 0;
  border: 1px solid $grayIconsPlaceholders;

  background-color: $white;

  transition: border 0.3s;

  cursor: pointer;

  &:hover {
    box-sizing: border-box;
    border: 1px solid $grayPrimary;
  }

  &--selected {
    color: $white;
    background-color: $grayPrimary;
    border: 1px solid $grayPrimary;

    transition: border 0.3s;
  }
}
/*#endregion */

/*#region circleColorButton*/
.circle-button {
  min-width: 32px;
  max-width: 32px;

  min-height: 32px;
  max-height: 32px;

  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white;

  border-radius: 50%;
  border: 1px solid #e2e6e9;

  cursor: pointer;

  transition: border 0.3s;

  &:hover {
    border: 1px solid #b4bdc3;
  }

  &--selected {
    border: 1px solid #313237;
  }
}

.circle-button__color {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

/*#endregion */
