@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/reset.scss';
@import '../../prepare-styles/usable-fonts.scss';

.main-main {
  @include grid-align;
  @include content-padding-inline;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 24px 0 64px;

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.category_header,
.category_product-container {
  grid-column: span 4;

  @include on-tablet {
    grid-column: span 12;
  }

  @include on-desktop {
    grid-column: span 24;
  }
}

.main-title-category {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: var(--text-primary);
  letter-spacing: -0.01em;
  line-height: 41px;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.category_header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;

  &-select {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;

    &-title {
      color: var(--text-secondary);
      font-family: 'Mont-SemiBold', sans-serif;
      font-size: 12px;
      line-height: 15.34px;
    }
  }

  &-sortAndPerpage {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }

  &-itemsCount {
    color: var(--text-secondary);
    font-family: 'Mont-Regular', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &-map {
    height: 16px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    &-categoryName {
      color: $graySecondary;

      @include hover(color, $grayPrimary);

      font-weight: 600;
    }

    &-homeIcon {
      display: block;
    }

    &-arrowRightIcon {
      display: block;
    }
  }
}

.category_header-sort-select {
  border: 1px solid var(--category-dropdown-border);
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Mont-SemiBold', sans-serif;
  color: var(--text-primary);
  cursor: pointer;
  outline: none;
  background-color: var(--category-dropdown-background);

  &:focus {
    border-color: var(--category-focus-dropdown-border);
  }

  &:hover {
    border-color: var(--category-hover-dropdown-border);
  }
}

.category_header-sort-option {
  font-size: 14px;
  line-height: 21px;
  font-family: 'Mont-SemiBold', sans-serif;
  color: var(--text-primary);
  cursor: pointer;
}

.category_product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-items: stretch;
  align-items: stretch;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-bigTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  gap: 40px 16px;
  margin-top: 24px;

  @include on-tablet {
    margin-top: 24px;
  }
}
