@import '../../prepare-styles/mixins.scss';

.skeleton-title {
  width: 100px;

  @media (min-width: 500px) {
    width: 280px;
  }

  @include on-tablet {
    width: 176px;
  }

  @include on-desktop {
    width: 336px;
  }
}

