@import '../src/prepare-styles/colors.scss';
@import '../src/prepare-styles/reset.scss';
@import '../src/prepare-styles/typography.scss';

.card_main-container{
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  // height: 439px;
  // width: 221px;
  width: min-content;
  border: 1px solid $grayElements;
}

.card_container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 8px;

  &-img{
    width: 148px;
  }

  &-title{
    padding-top: 16px;
  }

  &-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: relative;

    &-prices{
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding-top: 8px;

      ::after{
        position: absolute;
        content: '';
        display: block;
        bottom: -8px;
        background-color:  $grayElements;
        height: 1px;
        width: 75%;
      }
    }
  }

  &-about{
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-characteristics{
      display: flex;
      row-gap: 8px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-handle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    &-bag{
      background-color: $grayPrimary;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 40px;
    }
  }
}
