@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/typography.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--card-background);
  border: none;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
}

.modal-close-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-button {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.modal-icon {
  margin-top: 16px;
}

.modal-title {
  margin-top: 24px;
  text-align: center;

  color: var(--text-primary);
}

.modal-description {
  margin-top: 16px;
  text-align: center;
  color: var(--text-primary);
}

.modal-action {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.continue-button {
  background-color: var(--card-add-button-background);
  border: none;
  color: var(--white);
  padding: 12px 30px;
  cursor: pointer;

  @include hover(background-color, var(--card-hover-add-button-background));
  @include hover(box-shadow, 0px 2px 16px 0px var(--card-add-button-shadow));
}
