@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/variables.scss';
@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/usable-fonts.scss';

.container-cart {
  @include grid-align;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 56px;

  @include on-tablet {
    margin-top: 40px;
    margin-bottom: 64px;
  }

  @include on-tablet {
    margin-bottom: 80px;
  }
}

.title {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  grid-column: 1/-1;
  margin-bottom: 32px;

  @include on-tablet {
    grid-column: 1/-1;
    row-gap: 16px;
  }

  @include on-desktop {
    grid-column: 1/-1;
  }

  &-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    height: 16px
  }
}

.fav-items {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;

  @include on-tablet {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/-1;
  }

  @include on-desktop {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/17;
  }
}

.checkout {
  box-sizing: border-box;
  grid-column: 1/-1;
  width: 100%;
  border: 1px solid $grayElements;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  margin-top: 32px;

  @include on-tablet {
    grid-column: 1/-1;
  }

  @include on-desktop {
    grid-column: span 8;
    height: 206px;
    margin-top: 0;
  }

  &-price{
    font-family: 'Mont-Bold', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: $grayPrimary;
    letter-spacing: -0.01em;
    line-height: 41px;
  }

  &-total{
    font-family: 'Mont-Regular', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $graySecondary;
    line-height: 21px;
    padding-bottom: 32px;
  }

  &-button{
    width: 100%;
    height: 48px;
    background-color: $grayPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    ::before {
      position: absolute;
      content: '';
      display: block;
      top: -16px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $grayElements;
      height: 1px;
      width: 100%;
    }

    &-text{
      color: $white;
      font-family: 'Mont-Regular', sans-serif;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

h1{
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: $grayPrimary;
  letter-spacing: -0.01em;
  line-height: 41px;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.title-map-back {
  font-size: 12px;
  color: $graySecondary;
  font-family: 'Mont-SemiBold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.984px;
}

.emptyCartContain{
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyCart{
  width: 30%;
}