@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/usable-fonts.scss';

.header {
  position: sticky;
  top: 0;
  height: 48px;
  padding-left: 16px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-background);
  border-bottom: 1px solid var(--header-border);

  @include on-desktop {
    height: 64px;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include on-tablet {
      gap: 25px;
    }

    @include on-desktop {
      gap: 48px;
    }
  }

  &__logo .icon-wrapper-logo {
    width: 64px;
    height: auto;

    @include on-desktop {
      width: 80px;
    }
  }

  .nav {
    display: none;
    justify-content: space-between;
    height: calc(100vh - 48px);
    width: 100%;
    padding-top: 24px;

    @include on-tablet {
      display: flex;
      align-items: center;
      padding: 0;
      height: 100%;
      gap: 32px;
    }

    @include on-desktop {
      gap: 64px;
    }

    &-mobile {
      height: calc(100vh - 73px);

      @include on-tablet {
        display: none;
      }

      &--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 49px;
        left: 0;
        width: 100%;
        background-color: var(--main-background);
        border-bottom: 1px solid var(--header-border);
        z-index: 1000;

        @include on-tablet {
          display: none;
        }
      }
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;

      @include on-tablet {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 20px;
      }

      @include on-desktop {
        gap: 64px;
      }

      &-link {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-secondary);
        letter-spacing: 0.04em;
        font-family: 'Mont-Bold', sans-serif;
        font-weight: 800;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        transition: color 0.2s;

        @include on-tablet {
          line-height: 11px;
          height: 100%;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: var(--text-primary);
          transform: scaleX(0);
          transition: transform 0.2s;
          transform-origin: bottom left;
        }

        @include on-desktop {
          &:hover {
            color: var(--text-primary);
            &::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }

        &-active {
          position: relative;
          text-decoration: none;
          color: var(--text-primary);
          transition: color 0.2s;

          &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 3px;
            background-color: var(--text-primary);
            transform: scaleX(1);
          }
        }
      }
    }

    &__icons {
      display: none;

      @include on-tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: 48px;
      }

      @include on-desktop {
        height: 64px;
      }

      &-mobile {
        padding-top: 16px;
        display: flex;
        height: 60vh;
        flex-direction: column;
        justify-content: space-between;
      }

      &__special__container {
        display: flex;
        justify-content: space-between;
      }

      &__container {
        position: relative;
        width: 50%;
        height: 48px;
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-left: 1px solid var(--header-border);

        transition: color 0.3s;

        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: var(--text-primary);
          transform: scaleX(0);
          transition: transform 0.15s;
          transform-origin: bottom left;
        }

        @include on-desktop {
          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }

        @include on-tablet {
          width: 48px;
        }

        @include on-desktop {
          width: 64px;
          height: 64px;
        }

        &-active {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 3px;

            // change underline on icons
            // background-color: $grayPrimary;
            background-color: var(--text-primary);
            transform: scaleX(1);
          }
        }

        &-like {
          display: flex;

          @include on-tablet {
            display: flex;
          }
        }

        &-cart {
          display: flex;

          @include on-tablet {
            display: flex;
          }
        }
      }

      &__icon {
        &-like {
          display: block;

          @include on-tablet {
            display: block;
            width: 16px;
            height: auto;
          }
        }
        &-cart {
          display: block;

          @include on-tablet {
            display: block;
            width: 16px;
            height: auto;
          }
        }
      }
    }
  }

  &__menu {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--header-border);

    @include on-tablet {
      display: none;
    }

    &-link {
      height: 16px;
    }
  }
}

.header__icons__container {
  position: relative;
}
.adding {
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $red;
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
}
.length {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1px;
  font-size: 11px;
  padding-block: 1px;
  font-size: 9px;
  color: $white;
  font-family: 'Mont-SemiBold', sans-serif;
}

.spec__icons__container {
  display: flex;
  justify-content: center;
  width: 50%;
  border-bottom: 1px solid var(--header-border);
  border-left: 1px solid var(--header-border);
  &-theme {
    padding-left: 10px;
  }
}

.nav__icons__special__container {
  border-top: 1px solid var(--header-border);
}
