@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/variables.scss';
@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/usable-fonts.scss';

.product {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 16px;
  padding: 16px;
  border: 1px solid var(--elements);
  height: 160px;

  @include on-tablet {
    flex-direction: row;
    height: 128px;
    padding: 24px;
    justify-content: space-between;
  }

  &-info {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 570px;
    column-gap: 24px;
    // padding-block: 7px;

    &-title {
      font-family: 'Mont-Regular', sans-serif;
      font-size: 14px;
      color: var(--text-primary);
      line-height: 21px;
      justify-self: right;
      width: fit-content;

      @include on-tablet {
        width: 176px;
      }

      @include on-desktop {
        width: 336px;
      }
    }

    &-img {
      height: 66px;
    }

    &-close {
      cursor: pointer;
    }
  }

  &-handle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 100%;
    // margin-top: 16px;
    column-gap: 24px;

    @include on-tablet {
      margin-top: 0;
      max-width: 208px;
    }

    @include on-desktop {
    }

    &-price {
      font-family: 'Mont-Bold', sans-serif;
      font-weight: 800;
      font-size: 22px;
      color: var(--text-primary);
      letter-spacing: -0.01em;
      line-height: 30.8px;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      // column-gap: 14px;
      justify-content: space-between;
      align-items: center;
      // min-width: 100px;

      &-count {
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        &-text {
          line-height: 21px;
          color: var(--text-primary);
          font-family: 'Mont-Regular', sans-serif;
          font-size: 14px;
        }
      }

      &-box {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--swiper-button-border);
        min-height: 32px;
        min-width: 32px;
        cursor: pointer;
        background-color: var(--swiper-button-background);

        @include hover(border-color, var(--swiper-hover-button-border));
        @include hover(background-color, var(--swiper-hover-button-background));
      }
    }
  }
}
