@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/variables.scss';
@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/usable-fonts.scss';

.product{
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}

