$graySecondary: rgba(137, 147, 154, 1);
$grayPrimary: rgba(49, 50, 55, 1);
$grayIconsPlaceholders: rgba(180, 189, 195, 1);
$grayElements: rgba(226, 230, 233, 1);
$grayBackground: rgba(250, 251, 252, 1);
$icon-color: rgba(180, 189, 195, 1);
$button-color: rgba(49, 50, 55, 1);
$card-add-color: rgba(241, 242, 249, 1);
$hover-shadow: rgba(23, 32, 49, 0.4);
$contact-background: rgba(255, 255, 255, 0.05);
$phone-category-background: #e0c8b1;
$tablet-category-background: rgba(141, 141, 146, 1);
$accessory-category-background: rgba(151, 61, 95, 1);
$phone-banner-background: #e8e4db;
$tablet-banner-background: #c0c1c6;
$accessory-banner-background: #e0c8b1;

$white: rgba(255, 255, 255, 1);
$green: rgba(39, 174, 96, 1);
$red: rgba(235, 87, 87, 1);
