@import 'variables';

@mixin on-tablet {
  @media (max-width: ($desktop-min-width - 1)) {
    @content;
  }
}

@mixin on-phone {
  @media (max-width: ($tablet-min-width - 1)) {
    @content;
  }
}

@mixin content-padding-inline() {
  margin-inline: auto;
  max-width: $desktop-min-width;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-phone {
    padding-inline: 16px;
    min-width: $phone-min-width;
  }
}
