@import 'variables';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop {
    padding-inline: 152px;
  }
}

@mixin grid-align {
  padding-inline: 16px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;

  @include on-tablet {
    padding-inline: 24px;

    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    padding-inline: 0;

    grid-template-columns: repeat(24, 32px);
  }
}
