@import 'variables';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-bigTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop {
    max-width: 1136px;
    padding-inline: 0;
    margin-inline: auto;
  }
}

@mixin grid-align {
  display: grid;
  justify-content: center;
  column-gap: 16px;

  grid-template-columns: repeat(4, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 32px);
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: #{$toValue};
  }
}
