@import './usable-fonts.scss';
@import './mixins.scss';

// class for nav link on header
.nav-link {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: $graySecondary;
  letter-spacing: 0.04em;
  line-height: 11px;

  &:hover {
    color: $grayPrimary;
  }
}

// class for main title link on main
.main-title{
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: $grayPrimary;
  letter-spacing: -0.01em;
  line-height: 41px;

  @include on-tablet{
    font-size: 48px;
    line-height: 56px;
  }
}

// class for section title link on main
.section-title{
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: $grayPrimary;
  letter-spacing: -0.01em;
  line-height: 30.8px;

  @include on-tablet{
    font-size: 32px;
    line-height: 41px;
  }
}

.card_container-title{
  font-family: 'Mont-SemiBold', sans-serif;
  font-size: 14px;
  color: $grayPrimary;
  line-height: 21px;
}

.card_container-prices-salePrice{
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: $grayPrimary;
  line-height: 30.8px;
}

.card_container-prices-fullPrice{
  font-family: 'Mont-SemiBold', sans-serif;
  font-size: 22px;
  color: $graySecondary;
  line-height: 28.12px;
  text-decoration: line-through;
}

.card_container-about-characteristics-title{
  font-family: 'Mont-Bold', sans-serif;
  font-size: 12px;
  color: $graySecondary;
  line-height: 15.34px;
}

.card_container-about-characteristics-value{
  font-family: 'Mont-Bold', sans-serif;
  font-size: 12px;
  color: $grayPrimary;
  line-height: 15.34px;
  text-transform: uppercase;
}