@import './usable-fonts.scss';
@import './mixins.scss';
@import './colors.scss';

// Main Title
.main-title {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: var(--text-primary);
  letter-spacing: -0.01em;
  line-height: 41px;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

// Section Title
.section-title {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: var(--text-primary);
  letter-spacing: -0.01em;
  line-height: 30.8px;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
  }
}

// H1
.h1 {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: var(--text-primary);
  letter-spacing: -0.01em;
  line-height: 41px;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

// H2
.h2 {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: var(--text-primary);
  line-height: 31px;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
  }
}

// H3
.h3 {
  font-family: 'Mont-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-primary);
  line-height: 26px;

  @include on-tablet {
    font-size: 22px;
    line-height: 31px;
  }
}

// H4
.h4 {
  font-family: 'Mont-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-primary);
  line-height: 20px;

  @include on-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

// Uppercase text
.uppercase-text {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: var(--text-primary);
  letter-spacing: 0.04em;
  line-height: 11px;

  @include on-tablet {
    font-size: 12px;
    line-height: 11px;
  }
}

// Button text
.button-text {
  font-family: 'Mont-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  @include on-tablet {
    font-size: 14px;
    line-height: 21px;
  }
}

// Body text
.body-text {
  font-family: 'Mont-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include on-tablet {
    font-size: 14px;
    line-height: 21px;
  }
}

// Small text
.small-text {
  font-family: 'Mont-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  @include on-tablet {
    font-size: 12px;
    line-height: 15px;
  }
}
