@import '../../prepare-styles/colors.scss';
@import '../../prepare-styles/mixins.scss';

.carousel {
  width: 100%;
  min-width: 320px;
  height: 352px;
  display: flex;

  grid-column: span 4;

  @include on-tablet {
    height: 382px;
    grid-column: span 12;
  }

  @include on-desktop {
    grid-column: span 24;
    height: 432px;
  }

  &__image-wrapper {
    height: 320px;
    width: 100%;
    max-width: 1040px;
    box-sizing: border-box;
    border: 1px solid var(--banner-image-border);

    @include on-tablet {
      height: 350px;
    }

    @include on-desktop {
      height: 400px;
    }

    &-phones {
      background-color: var(--banner-phones-background);
    }

    &-tablets {
      background-color: var(--banner-tablets-background);
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__button-next,
  &__button-prev {
    height: 189px;
    box-sizing: border-box;
    border: 1px solid var(--swiper-button-border);
    outline: none;
    min-width: 32px;

    display: none;

    background-color: var(--swiper-button-background);

    transition:
      background-color $effect-duration ease,
      border $effect-duration ease;

    @include on-tablet {
      display: block;
      height: 350px;
    }

    @include on-desktop {
      height: 400px;
    }

    &:hover {
      border: 1px solid var(--swiper-hover-button-border);
      background-color: var(--swiper-hover-button-background);
    }

    &:active {
      background-color: var(--main-background);
    }
  }

  &__button-next {
    margin-left: 19px;

    @include on-desktop {
      margin-left: 16px;
    }
  }

  &__button-prev {
    margin-right: 19px;

    @include on-desktop {
      margin-right: 16px;
    }
  }
}

.swiper-pagination {
  background-color: var(--main-background);

  &-bullet {
    background-color: var(--banner-bullet);
    width: 14px;
    height: 4px;
    border-radius: 0;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 320px !important;
  height: 24px;

  @include on-tablet {
    top: 350px !important;
  }

  @include on-desktop {
    top: 409px !important;
  }
}
