@import '../../prepare-styles/variables.scss';
@import '../../prepare-styles/mixins.scss';
@import '../../prepare-styles/colors.scss';

.rights {
  margin-top: 100px;
  min-height: calc(100vh - $header-height - $footer-height);

  &__earth {
    height: 420px;
    width: 100%;
    cursor: pointer;

    @include on-tablet {
      width: 100%;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    max-width: 500px;
    font-family: 'Mont-SemiBold', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--text-primary);
    padding: 20px;
    text-align: center;

    @include on-desktop {
      padding: 5em;
      margin-top: 0;
    }
  }

  &__year {
    text-align: center;
    margin-top: 28px;
  }
}

