@import '../../prepare-styles/mixins.scss';
.container__home-page {
  margin-top: 56px;
  @include grid-align;
}

.main-title {
  grid-column: span 4;
  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 32px;
    grid-column: span 12;
  }

  @include on-desktop {
    margin-bottom: 56px;
    grid-column: span 17;
  }
}
